@keyframes myAnimation {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes myAnimationPrice {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
li:nth-child(1) {
  animation-delay: 0.25s;
}

li:nth-child(2) {
  animation-delay: 0.5s;
}

li:nth-child(3) {
  animation-delay: 0.75s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8000px);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
}

body {
  max-width: 1200px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 22px;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: "Shrikhand", sans-serif;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

section {
  margin-bottom: 30px;
}

.btn-new {
  position: absolute;
  padding: 6px 20px;
  border-radius: 3px;
  background-color: mediumaquamarine;
  color: green;
  font-size: 10px;
  z-index: 10;
  left: 75%;
  top: 5%;
}

.btn {
  margin-bottom: 50px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 3px 3px 3px 3px lightgrey;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 20px;
  }
}
.btn:hover {
  transform: scale(1.15);
}
@media screen and (min-width: 1024px) {
  .btn--hero {
    margin-left: 30px;
  }
}
.btn--order {
  padding: 10px 55px;
}

.like-container {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .like-container {
    align-self: flex-end;
    margin: 30px;
  }
}
.like-container__svg {
  fill: grey;
  height: 2em;
}
@media screen and (min-width: 1024px) {
  .like-container__svg {
    height: 2.5em;
  }
}
.like-container__svg--active {
  fill: url(#MyGradient);
  display: none;
}
@media screen and (min-width: 1024px) {
  .like-container__svg--active {
    height: 2.5em;
  }
}
.like-container__svg--active--1 {
  fill: url(#MyGradient1);
  display: none;
}
@media screen and (min-width: 1024px) {
  .like-container__svg--active--1 {
    height: 2.5em;
  }
}
.like-container__svg--active--2 {
  fill: url(#MyGradient2);
  display: none;
}
@media screen and (min-width: 1024px) {
  .like-container__svg--active--2 {
    height: 2.5em;
  }
}
.like-container__svg--active--3 {
  fill: url(#MyGradient3);
  display: none;
}
@media screen and (min-width: 1024px) {
  .like-container__svg--active--3 {
    height: 2.5em;
  }
}
.like-container:active .like-container__svg, .like-container:hover .like-container__svg {
  display: none;
}
.like-container:active .like-container__svg--active, .like-container:active .like-container__svg--active--1, .like-container:active .like-container__svg--active--2, .like-container:active .like-container__svg--active--3, .like-container:hover .like-container__svg--active, .like-container:hover .like-container__svg--active--1, .like-container:hover .like-container__svg--active--2, .like-container:hover .like-container__svg--active--3 {
  display: block;
  animation: fadeIn 1s forwards;
}
@media screen and (min-width: 1024px) {
  .like-container {
    width: 50px;
    height: 50px;
  }
}

.wrapper-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  z-index: 100;
  width: 100%;
  height: 100%;
  animation: fadeOut 3s forwards;
  animation: slideIn 0ms 3s forwards;
}

.logo--welcome {
  opacity: 0;
  animation: bounceIn 3s;
}

.logo-pic--welcome {
  width: 300px;
}

header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  header {
    align-items: flex-start;
  }
}

.header-menu {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back-btn {
  margin-left: 30px;
  width: 5%;
}

.logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-left: 30px;
  }
}

.logo--menu {
  width: 95%;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .logo--menu {
    justify-content: flex-end;
    margin-right: 30px;
  }
}

.logo-pic {
  width: 200px;
}

.back-btn__svg {
  margin-bottom: 20px;
  fill: #000;
}

footer {
  color: #fff;
  background-color: #3c4142;
}

@media screen and (min-width: 1024px) {
  .footer-logo {
    margin-left: 0;
  }
}

.footer-logo-pic {
  fill: white;
  width: 30%;
  padding: 15px 0;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__item-pic {
  width: 20px;
  margin-right: 5px;
}
.nav a {
  margin-bottom: 8px;
}

.restaurants,
.how,
footer {
  padding: 0 30px;
}

.location {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .location {
    justify-content: flex-start;
  }
}

.location-svg-container {
  margin-right: 15px;
}
@media screen and (min-width: 1024px) {
  .location-svg-container {
    margin-left: 30px;
  }
}

.location-info {
  margin: 14px 0;
}

.hero {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .hero {
    align-items: flex-start;
  }
}
.hero__title {
  margin: 30px !important;
}
.hero__motto {
  font-size: 16px;
  color: gray;
  font-weight: lighter;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero__motto {
    font-size: 20px;
    padding: 0 30px;
  }
}

.how__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .how__steps {
    align-items: flex-start;
    margin-left: 30px;
  }
}

.how__step {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin-bottom: 15px;
  cursor: pointer;
}
.how__step:hover {
  background-color: #f5edff;
}
.how__step:hover .svg--main {
  fill: #9356dc;
}
@media screen and (min-width: 1024px) {
  .how__step {
    width: 50%;
    font-size: 18px;
  }
}

.how__number {
  color: #fff;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  right: 7%;
}
@media screen and (min-width: 1024px) {
  .how__number {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
}

.how__item {
  display: flex;
  align-items: center;
}

.how__svg-container {
  padding-right: 20px;
}

.svg--main {
  fill: #3c4142;
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .restaurants__wrapper {
    height: 500px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__wrapper {
    height: 100%;
  }
}

.restaurants__item {
  width: 100%;
  height: 200px;
  box-shadow: 3px 3px 3px 3px lightgrey;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px 10px #f2f2f2;
}
@media screen and (min-width: 767px) {
  .restaurants__item {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__item {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.restaurants__img-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurants__img-container {
    width: 48%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
}

.restaurants__img {
  width: 100%;
  object-fit: cover;
}

.restaurants__content {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurants__content {
    width: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants__info {
    margin-right: 30px;
  }
}

.restaurants__name {
  margin: 8px 0;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .restaurants__name {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.restaurants__text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .restaurants__text {
    display: block;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
  }
}

.restaurants__place {
  font-weight: lighter;
}
@media screen and (min-width: 1024px) {
  .restaurants__place {
    font-size: 20px;
  }
}

body {
  background: #f2f2f2;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.restaurant__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.restaurant__header {
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurant__header {
    font-size: 25px;
    border-radius: 0;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__name {
    margin-left: 30px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background: #f2f2f2;
}
@media screen and (min-width: 767px) {
  .menu {
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .menu__course {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu__course {
    width: 35%;
  }
}
.menu__title {
  color: grey;
  margin-bottom: 0;
  line-height: 6px;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    font-size: 45px;
  }
}
.menu__line {
  color: #99e2d0;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .menu__line {
    font-size: 45px;
  }
}
.menu__container {
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) {
  .menu__container {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .menu-list {
    width: 60%;
  }
}
.menu-list__item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px lightgrey;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 15px;
  overflow-x: hidden;
  cursor: pointer;
}
.menu-list__item:hover .menu-list__btn {
  position: static;
  display: flex;
  transition: 1s;
  animation: myAnimation 1s forwards;
}
.menu-list__item:hover .menu-list__btn-svg {
  transform: translate(50px, 100px) translate(-50px, -100px) rotate(360deg);
  transition: 1s;
}
.menu-list__item:hover .menu-list__price {
  animation: myAnimationPrice 1s forwards;
  margin-left: 50px;
}
.menu-list__info {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-list__name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-list__desc {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-list__btn {
  height: 60px;
  width: 60px;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  transform: translateX(60px);
  margin-left: 10px;
}
.menu-list__price-container {
  display: flex;
  height: inherit;
  padding-bottom: 10px;
  padding-right: 10px;
  padding: 0;
}
.menu-list__price {
  align-self: flex-end;
  margin-right: -50px;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

li {
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.restaurant--enchanted {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.restaurant--enchanted__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.restaurant--enchanted__header {
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurant--enchanted__header {
    font-size: 25px;
    border-radius: 0;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant--enchanted__name {
    margin-left: 30px;
  }
}

.restaurant--fullpalette {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.restaurant--fullpalette__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.restaurant--fullpalette__header {
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurant--fullpalette__header {
    font-size: 25px;
    border-radius: 0;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant--fullpalette__name {
    margin-left: 30px;
  }
}

.restaurant--legourmand {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.restaurant--legourmand__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.restaurant--legourmand__header {
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .restaurant--legourmand__header {
    font-size: 25px;
    border-radius: 0;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant--legourmand__name {
    margin-left: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
