footer {
    color: #fff;
    background-color: #3C4142;
}
/* How to change fill color?????????????????????????????? */
.footer-logo-pic  {
    fill: white;
    width: 30%;
    padding: 15px 0;
}
 
.footer-nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer-nav a {
    margin-bottom: 8px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item-pic {
    width: 20px;
    margin-right: 5px;
}