body {
    background: $color-grey;
}

.restaurant {
    @include restaurant;
    background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat  center;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    background: $color-grey;

        &__title {
            color: grey;
            margin-bottom: 0;
            line-height: 6px;
        }

        &__line {
            color: $color-tertiary;
            font-weight: bold;
        }

        &__container{
            margin-bottom: 30px;
        }
}

.menu-list {

        &__item {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: $box-shadow;
            display: flex;
            justify-content: space-between;
            line-height: 20px;
            margin-bottom: 15px;
            overflow-x: hidden;
            cursor: pointer;

            &:hover {
                
                .menu-list__btn {
                    position: static;
                    display: flex;
                    transition: 1s;
                    animation: myAnimation 1s;
                    
                }

                .menu-list__btn-svg {
                    transform: translate(50px, 100px) translate(-50px, -100px) rotate(360deg);
                    transition: 1s;
                }
            
                .menu-list__price {
                    animation: myAnimationPrice 1s;
                }
            }

            // &:after {
            //     .menu-list__btn {
            //         position: static;
            //         display: flex;
            //         animation: slide-right-pause 4s infinite;           
            //     }
            // }
        }

        &__info{
            padding: 10px;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }

        &__name {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }

        &__desc {
            color: grey;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }

        &__btn {
            height: 60px;
            width: 60px;
            background-color: $color-tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 15px 15px 0;
            transform: translateX(60px);
            margin-left: 10px;
        }

        &__price-container { 
            display: flex;
            height: inherit;
            padding-bottom: 10px;
            padding-right: 10px;
            padding: 0;
        }

        &__price {
            align-self: flex-end;
            margin-right: -50px;
            margin-bottom: 10px;
        }


}

.btn-container {
    display: flex;
    justify-content: center;
}


// #n1{
//     animation: fadein 2s;
//   }
//   @keyframes fadein {
//     from { opacity: 0}
//     to   { opacity: 1}
//   }

//   #n2{
//     animation: fadein 4s;
//     animation-delay: 1s;
//   }

//   #n3{
//     animation: fadein 4s;
//     animation-delay: 2s;
//   }

li {
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}