html {
    height: 100%;
}

.welcome {
    height: 100%;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);}

.wrapper-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo--welcome {
    opacity: 0;
    animation: bounceIn 3s forwards;
}

.logo-pic--welcome {
    width: 300px;
}