@keyframes myAnimation {
    0% {
        transform: translateX(50px);
    }
  
    100% {
        transform: translateX(0);
    }
 }

 @keyframes myAnimationPrice {
    0% {
        transform: translateX(0);
    }
  
    100% {
        transform: translateX(-50px);
    }
 }


// @keyframes slide-right-pause {
//     0% {
//         transform: translateX(0);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }

@keyframes bounceIn {
    0% {
      transform: scale(.5);
    }
  
    20% {
      transform: scale(1.2);
    }
  
    40% {
      transform: scale(0.8);
    }
  
    60% {
      transform: scale(1.1);
    }
  
    80% {
      transform: scale(0.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


// Set delay per List Item
@for $i from 1 through $total-items {
  li:nth-child(#{$i}) {
    animation-delay: 0.25s * $i;
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}